body{font-size: 12pt; line-height:150%;}
pre {white-space: pre-wrap;word-wrap: break-word;}
.hidden{display:none; max-width:98%; margin:0 auto;}
.clear{clear:both;}
#main{width:100%;text-align:center;}
#main>img{max-width:98%;}
#main>div.txt{text-align:left;}
#main>div.txt>p{text-indent:2em;}